.login {
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {

  }
  .loginForm {
    width: 300px;
    .loginInput {
      padding: 5px;
      display: block;

    }
  }
}